#s1	{
/* Put repeated parts in one class, .book-gallery-content */
	background-color: #7CFC00;
	}

#s1_2{
	background-color: yellow;
}


#s1_3{
	background-color: orange;
}

#s1_4 {
	background-color: dodgerblue;
}

#s1_5 {
	background-color: #FF00FF;
}


#s1_6 {
	background-color: aqua;
}

#s1_7 {
	background-color: #8A2BE2;
}
#s1_8 {
	background-color: violet;
}


.s1_1--image {
}

.s1_2--image {
}

.s1_3--image {
}
.s1_4--image {
}
.s1_5--image {
}
.s1_6--image {
}
.s1_7--image {
}
.s1_8--image {
}

/*
* if you set display flex on a parent like <section class="book-gallery">
* it will try to put all the immediate children like <div class="small-layout-100 large-layout-25 ">
* on the same line.
* flex-wrap: wrap will make those children go to the next line if they are too wide to fit on one line
*/
/*
 * This can also be done by not using flex and making the children display: inline-block but you have to use a trick to get rid of spaces between boxes that are added by making them inline-block (having no space between divs)
 */
.book-gallery{
	display: flex;
	flex-wrap: wrap;
}

.book-gallery-content{
	padding: 20px;
	margin: 5px;
	height: 400px;
	text-align: center;
	font-size: 12pt;
	font-family: sans-serif;
	color: black;
	/* Make the boxes scroll down if the image goes outside of the box on the bottom */
	overflow: auto;
}

.header-content{
	padding: 20px;
	margin: 5px;
	text-align: center;
	background-color: violet;
	color: black;
	font-size: 32pt;
	height:100px;
	font-family: sans-serif;
	text-align: center;
}

.book-gallery-image{
	max-height: 150px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5px;
}

/* small screen is the default layout so don't put it in a media query */
.small-layout-100{
	width: 100%;
}

/* This means that when the screen is at least 799.9px wide, use this class on the element. It will override the width in .small-layout-100 */
@media only screen and (min-width: 799.9px) {
		.large-layout-25{
			width: 25%;
		}

}
